body{
    font-size: 20px;
    margin:0%;
    background-color:burlywood;
}
.p{
    font-family:Arial, Helvetica, sans-serif;
    color:aqua;
    text-align:center;
    border: 1px;
    margin: 50%;
    background-color: antiquewhite;
}